#.env.prod.example


# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
# https://symfony.com/doc/current/configuration/secrets.html
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

# For production, use your actual domain:
###> you public domain name
PUBLIC_DOMAIN=https://localhost
###> if using a reverse proxy, set to ':80', otherwise set to $PUBLIC_DOMAIN
SERVER_NAME=https://localhost

###> symfony/framework-bundle ###
APP_SECRET=random_string
###< symfony/framework-bundle ###

CADDY_GLOBAL_OPTIONS=""

###> Mysql
# NOTE : for these global variable to affect the mysql server, you must delete your entire database first, than rebuild it with production environment
MYSQL_USER="your_mysql_username"
MYSQL_PASSWORD="your_production_mysql_password"
MYSQL_ROOT_PASSWORD="your_production_root_password"
MYSQL_DATABASE="your_production_db"
MYSQL_IP=""
###< Mysql

# The secret used to sign the JWTs
MERCURE_JWT_SECRET="jwt_secret_key"
###< symfony/mercure-bundle ###

###> lexik/jwt-authentication-bundle ###
JWT_PASSPHRASE="jwt_passphrase"
###< lexik/jwt-authentication-bundle ###

###> don't need to be change, this is here to overwrite the variables in .env file
MERCURE_PUBLIC_URL=${PUBLIC_DOMAIN}/.well-known/mercure
VITE_SERVER_NAME=${PUBLIC_DOMAIN}

###> If using proxy, and using the proxy_override, use these variable : 
PROXY_NETWORK_NAME=myLocalProxyName
TRUSTED_PROXIES="172.16.0.0/12,192.168.0.0/16,10.0.0.0/8"
APP_TRUSTED_HOSTS=${PUBLIC_DOMAIN}
PROXY_PORT=82

###> Discord API
DISCORD_CLIENT_ID=yourDiscordAppClientID
DISCORD_CLIENT_SECRET=yourDiscordAppClientSecret
VITE_DISCORD_CLIENT_ID=${DISCORD_CLIENT_ID}
###< DIscord API