# Ignore MySQL database directory
database/*
symfony/frankenphp/certs/*
symfony/files/*
/.env.dev
/.env.prod
/.env.local
/deployToAzure.sh
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
