{% extends 'base.html.twig' %}

{% block title %}React App{% endblock %}

{% block head %}
    {% if app.debug %}
        {# Vite React Refresh - equivalent to Laravel's @viteReactRefresh #}
        <script type="module">
            import RefreshRuntime from 'https://localhost:5173/@react-refresh'
            RefreshRuntime.injectIntoGlobalHook(window)
            window.$RefreshReg$ = () => {}
            window.$RefreshSig$ = () => (type) => type
            window.__vite_plugin_react_preamble_installed__ = true
        </script>
    {% endif %}
{% endblock %}

{% block body %}
    <div id="root"></div>
    
    {% if app.debug %}
        {# Development mode - load from Vite dev server #}
        <script type="module" src="https://localhost:5173/@vite/client"></script>
        <script type="module" src="https://localhost:5173/src/main.jsx"></script>
    {% else %}
        {# Production mode - load built assets #}
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_script_tags('app') }}
    {% endif %}
{% endblock %}