<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>React App</title>
    {% if app.debug %}
      <script type="module" src="http://localhost:5173/src/main.jsx"></script>
    {% else %}
      <script type="module" src="{{ asset('build/assets/index.js') }}"></script>
      <link rel="stylesheet" href="{{ asset('build/assets/index.css') }}" />
    {% endif %}
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>